// ABOUT

.hero {
	width: 100%;
	height: 90vh;
	margin: 2% 0 10% 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.about-image {
	width: 50%;
	img {
	display: block;
	}
}

.about-content {
	width: 50%;
	padding: 0 3%;
	background: fade-out($aqua, 0.6);
	text-align: center;
}