.post {
	padding: 4% 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	.image {
		width: 100%;
	}
	.text {
		width: 100%;
		text-align: left;
		padding: 1% 2%;
		h2 {
			font-family: $headingFont;
			color: $aqua;
			font-style: italic;
			text-align: center;
		}
		h3 {
			color: $softBlack;
		}
	}
}
