.hero2 {
	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: 2%;
	@media (max-width: 940px) {
		height: 70vh;
	}
}

// All Contact Sidebar Widgets
.widget-container {
	margin: 5% 0;
	@media (max-width: 767px) {
		width: 50%;
		float: left;
		text-align: center;
		h3 {
			margin-top: 1.5%;
			font-size: 2.2rem;
			display: inline-block;
			padding-bottom: 1%;
			border-bottom: 2px solid $aqua;
		}
		a {
			font-size: 2rem;
		}
	}
}

// Social Media Menu Icons
.menu-social-media-links-container {
	.menu li {
		margin: 0;
		a {
			padding: 0;
		}
	}
	.fa {
		font-size: 1.7rem;
		padding: 1%;
		background: fade-out($aqua, 0.4);
		color: lighten($softBlack, 15%);
		border-radius: 50%;
		&:hover {
			color: $softWhite;
			background: $softBlack;
		}
		@media (max-width: 767px) {
			font-size: 2.5rem;
			padding: 3%;
		}
	}
}

@media (max-width: 767px) {
	.content h2 {
		text-align: center;
	}
}

// Contact 7 Plugin Form
.content form {
	padding-top: 3%;
	p {
		font-family: $headingFont;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	input {
		width: 80%; 
		margin-top: 1%;
		@media (max-width: 940px) {
			width: 90%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	textarea {
		width: 80%; 
		border: 1px solid $aqua;
		outline: 0;
		@media (max-width: 940px) {
			width: 90%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	input[type=submit] {
		background: $softBlack;
		color: $softWhite;
		text-transform: uppercase;
		font-family: $headingFont;
		font-weight: 700;
		letter-spacing: 2px;
		border: 1px solid darken($softBlack, 5%);
		&:hover {
			background: fade-out($aqua, 0.3);
			border: 1px solid $aqua;
			color: $softBlack;
		}
	}
}




