.sidebar {
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	input {
		margin-top: 5%;
		border: 1px solid $aqua;
		border-radius: 2px;
		padding: 2%;
		outline: 0;
		&[type='submit'] {
			background: $aqua;
			color: $softWhite;
			font-family: $baseFont;
			letter-spacing: 1px;
		}
	}
	.widget-title {
		margin: 10% 0;
	}
	.tagcloud {
		width: 65%;
		a {
			background: $aqua;
			color: $softWhite;
			padding: 2%;
			margin-top: 1%;
			font-size: 1.6rem;
		}
	}
}
