.sidebar {
	width: 30%;
	float: left;
	@media (max-width: 940px) {
		width: 35%;
		text-align: center;
	}
	@media (max-width: 767px) {
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	input {
		border: 1px solid $aqua;
		border-radius: 2px;
		padding: 2%;
		outline: 0;
		&[type='submit'] {
			background: $aqua;
			color: $softWhite;
			font-family: $baseFont;
			letter-spacing: 1px;
		}
	}
	.widget-title {
		margin: 5% 0;
	}
	.tagcloud {
		width: 65%;
		font-size: 3rem;
		@media (max-width: 940px) {
			width: 100%;
			padding: 2% 5%;
		}
		a {
			color: $softWhite;
			font-family: $baseFont;
			text-transform: uppercase;
			background: darken($aqua, 10%);
			padding: 3%;
			font-size: 14px;
			border-radius: 1px;
			box-shadow: 1px 1px 1px lighten($softBlack, 30%);
			@media (max-width: 940px) {
				padding: 2%;
			}
		}
	}
}
