.sidebar {
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	input {
		border: 1px solid $aqua;
		border-radius: 2px;
		padding: 2%;
		&[type='submit'] {
			background: $aqua;
			color: $softWhite;
			font-family: $baseFont;
		}
	}
}
