h1 {
	font-family: $headingFont;
	font-size: 7rem;
	color: lighten($aqua, 5%);
	text-shadow: 2px 2px 2px $softBlack;
	letter-spacing: 10px;
	@media (max-width: 480px) {
		font-size: 5rem;
		text-align: center;
	}
}

h2 {
	font-family: $headingFont;
	font-size: 3rem;
	color: $softBlack;
	letter-spacing: 3px;
}

h3 {
	font-family: $headingFont;
	font-style: italic;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px lighten($softBlack, 45%);
}

a {
	color: $aqua;
	text-decoration: none;
	&:hover {
		color: darken($aqua, 25%);
	}
}

/* paragraphs */

p {
	line-height: 1.8;
	font-family: $baseFont;
	font-size: 1.7rem;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul {
	padding: 0;
}

ul li, ol li {
	padding: 3px;
}

li {
	list-style: none;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/*form inputs*/

input {
	border: 1px solid $aqua;
	border-radius: 2px;
	padding: 10px;
	outline: 0;
	margin-right: 1%;
}

input.searchsubmit {
	margin-top: 3%;
	background: $aqua;
	border: 0;
	color: $softWhite;
	font-family: $baseFont;
	letter-spacing: 1px;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}